.features {
  padding-bottom: 72px;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    &:nth-child(1) {
      .features__link {
        max-width: 385px;
        width: 100%;
        color: $white;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__link {
    max-width: 215px;
    min-height: 148px;
    width: 100%;
    padding-left: 32px;
    font-weight: 700;
    color: $dark-500;
    text-transform: uppercase;
    transition: color 0.3s, text-shadow 0.3s;

    &:hover {
      color: $white;
    }
  }

  &__subtitle {
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 1;
    margin-bottom: 15px;
  }

  &__name {
    font-family: "Ruda";
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 11px;
  }

  &__text {
    width: fit-content;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: $dark-500;
      left: 0;
      bottom: -4px;

      transition: background-color 0.3s;
    }
    &:hover::after {
      background-color: $white;
    }
  }
}
