.features {
  padding-bottom: 72px;

  @include media-2 {
    padding-bottom: 58px;
  }

  @include media-4 {
    padding-bottom: 48px;
  }

  &__list {
    display: grid;
    grid-template-columns: 2.1fr 1fr 1fr;
    gap: 30px;

    @include media-2 {
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 20px;
    }

    @include media-4 {
      gap: 15px;
    }
  }

  &__item {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 76px 32px;
    text-transform: uppercase;

    @include media-4 {
      padding: 76px 15px 35px;
    }

    &:first-child {
      color: $white;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);

      .features__name {
        max-width: 350px;

        @include media-4 {
          max-width: 275px;
        }
      }

      .features__link {
        &::after {
          background-color: #fff;
        }
      }
    }
  }

  &__subtitle {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1;
    margin-bottom: 18px;

    @include media-4 {
      margin-bottom: 15px;
    }
  }

  &__name {
    max-width: 180px;
    font-family: "Ruda";
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 11px;

    @include media-2 {
      max-width: 285px;
    }

    @include media-4 {
      max-width: 160px;
      font-size: 24px;
      margin-bottom: 75px;
    }
  }

  &__link {
    width: fit-content;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s, text-shadow 0.3s;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      bottom: -4px;
      width: 100%;
      height: 2px;
      background-color: $dark-500;
      transition: background-color 0.3s;
    }

    &:hover {
      &::after {
        background-color: $white;
      }
    }
  }
}
