html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  font-style: normal;
  line-height: 1.4;
  color: $text;
  @extend %opensans-600;
  display: flex;
  flex-direction: column;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.logo {
  display: inline-block;
  margin-right: 13px;
}

.brand {
  display: flex;
  align-items: center;
  text-align: center;
  color: $brand;
  margin-right: 42px;
  @extend %ruda-600;
    p {
      font-size: 12px;
    }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.title-brand {
  font-size: 28px;
  line-height: 1.2;
}

.title {
  margin: 0 auto;
  font-size: 32px;
  letter-spacing: 0.03em;
  color: $text;
  @extend %ruda-600;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  padding: 12px 24px;
  background-color: $accent;
  border-radius: 6px;
  font-size: 18px;
  color: $brand;
}

.cart-btn {
  outline: transparent;
  position: absolute;
  width: 32px;
  height: 32px;
  right: 18px;
  bottom: 18px;
  border-radius: 3px;
  background-color: $accent;
  transition: background-color 0.3s;

  &:focus {
    box-shadow: 0px 0px 0px 3px $green-200;
  }

  &:hover {
    background-color: #4D800C;
  }

  &:active {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    path {
      fill: rgba(255, 255, 255, 0.5);
    }
  }
}