.header {
  &__top {
    background-color: $dark-800;
    padding: 14px 0;
  }

  .header-top {
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__list {
      display: flex;
    }

    &__item-left {
      &:not(:last-child) {
        margin-right: 48px;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }

    &__link {
      color: $white;
      font-size: 13px;
      font-weight: 700;
      line-height: 1.3;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      transition: opacity 0.3s;
      outline: transparent;

      &::before {
        display: inline-block;
        mask-size: cover;
        mask-position: center;
        mask-repeat: no-repeat;
        background-color: $white;
        vertical-align: middle;
        margin-right: 12px;
      }

      &:focus {
        box-shadow: 0 0 0 3px $green-100;
        border-radius: 3px;
      }

      &:hover {
        opacity: 0.7;
      }

      &:active {
        color: $green-200;
        box-shadow: none;
      }
    }

    &__link--delivery {
      &::before {
        content: "";
        mask-image: url("../images/sprite.svg#address-icon");
        width: 32px;
        height: 22px;
      }
    }

    &__link--hotline {
      &::before {
        content: "";
        mask-image: url("../images/sprite.svg#tell-icon");
        width: 22px;
        height: 22px;
      }
    }
  }

  &__bottom {
    background-color: $green-900;
    padding: 24px 0;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 24px;
  }

  &__catalog {
    max-width: 100%;
    padding: 15px 39px 15px 18px;
    border-radius: 6px;
    margin-right: 30px;
    background-color: $white;
    color: $green-900;
    letter-spacing: 0.03em;

    &::before {
      display: inline-block;
      content: "";
      background-image: url("../images/icons/nav-icon.svg");
      width: 25px;
      height: 17px;
      vertical-align: top;
      margin-right: 18px;
    }
  }

  &__form {
    position: relative;
    max-width: 576px;
    width: 100%;
    margin-right: 44px;
    outline: transparent;

    &::before {
      position: absolute;
      content: "";
      mask-image: url("../images/sprite.svg#search-icon");
      mask-position: center;
      mask-size: cover;
      mask-repeat: no-repeat;
      background-color: $dark-800;
      width: 20px;
      height: 20px;
      top: 15px;
      left: 13px;
      cursor: pointer;
    }
  }

  &__field {
    outline: transparent;
    max-width: 420px;
    width: 100%;
    padding: 15px 51px 15px 51px;
    border-radius: 6px 0 0 6px;
    background-color: $white;
    font-weight: 400;
    letter-spacing: 0.03em;

    &::placeholder {
      max-width: 100%;
      width: 100%;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }
  }

  &__btn {
    position: absolute;
    padding: 15px 52px;
    border-radius: 0 6px 6px 0;
    text-transform: uppercase;
    color: $white;
    background-color: $dark-800;
    letter-spacing: 0.03em;
    outline: transparent;
    transition: background-color 0.3s;
    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
      box-shadow: none;
    }
  }
}

.user-nav {
  display: flex;
  &__item {
    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__btn {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    outline: transparent;
    transition: background-color 0.3s;

    &:focus {
      background-color: rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 0 0 3px $green-100;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
      box-shadow: none;
      opacity: 0.6;
    }

    &::before {
      display: inline-block;
      content: "";
      background-color: $white;
      mask-position: center;
      mask-size: cover;
      mask-repeat: no-repeat;
    }

    &--profile {
      &::before {
        mask-image: url("../images/sprite.svg#user-icon");
        width: 25px;
        height: 32px;
      }
    }

    &--favorites {
      &::before {
        mask-image: url("../images/sprite.svg#heart-icon");
        width: 32px;
        height: 28px;
      }
    }

    &--cart {
      &::before {
        mask-image: url("../images/sprite.svg#cart-icon");
        width: 32px;
        height: 30px;
      }
    }
  }

  &__num {
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    width: 18px;
    height: 18px;
    top: 2px;
    left: 3px;
    border-radius: 50%;
    color: $red-900;
    font-size: 10px;
    text-align: center;
    padding-top: 3px;
  }
}
