.news {
  padding-bottom: 72px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    display: contents;
  }

  &__top-link {
    font-weight: 700;
    line-height: 1.3;
    color: $green-900;
    text-transform: uppercase;
    outline: transparent;
    transition: color 0.3s, box-shadow 0.3s;
    margin-right: 10px;
    position: relative;
    padding-bottom: 5px;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $green-900;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      color: #4d800c;
      box-shadow: none;

      &::after {
        background-color: #4d800c;
      }
    }

    &:active {
      box-shadow: none;
      color: $green-900;

      &::after {
        background-color: $green-200;
      }
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 410px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    color: $dark-900;
    transition: color 0.3s;

    &:hover {
      color: $green-900;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 76px;
    background-color: $white;
    border-radius: 0 0 4px 4px;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
  }

  &__month {
    display: block;
    font-size: 10px;
    font-weight: 700;
    color: $dark-900;
    letter-spacing: 0.1em;
    line-height: 2;
    text-transform: uppercase;
  }

  &__number {
    display: block;
    font-family: "Ruda";
    font-size: 30px;
    line-height: 1;
  }

  &__image-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 58.54%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__text {
    padding: 18px 18px 0;
    margin-bottom: 18px;
    @include line-clamp(5);
  }
}
