.top-products {
  padding: 72px 0;

  &__title {
    margin-bottom: 32px;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 41px;
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}
