@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
@import "common/vars";
@import "common/fonts";
@import "common/reset";
@import "common/libs";
@import "common/global";

@import "components/buttons.scss";
@import "components/filters.scss";
@import "components/product-card.scss";
@import "components/badges.scss";
@import "components/social.scss";

@import "header";

@import "top-slider";
@import "benefits";
@import "top-products";
@import "features";
@import "sales-products";
@import "brands";
@import "news";

@import "footer";
