.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 48px;

  &__item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__btn {
    font-size: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    outline: transparent;
    transition: color 0.3s;
    color: $dark-500;

    @include media-3 {
      font-size: 14px;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border-radius: 3px;
    }

    &:hover {
      color: $green-900;
    }

    &:active {
      box-shadow: none;
      position: relative;
      &::after {
        position: absolute;
        content: "";
        background-color: rgba(99, 166, 14, 0.2);
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 3px;
      }
    }
  }
}

.mixitup-control-active {
  color: $green-900;
  position: relative;
  transition: color 0.3s;
  &::after {
    position: absolute;
    content: "";
    background-color: $green-900;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
  }

  &:hover {
    color: #4d800c;
    box-shadow: none;
    &::after {
      background-color: #4d800c;
    }
  }

  &:active {
    box-shadow: none;
    color: $green-900;
    &::after {
      background-color: $green-900;
    }
  }
}
