html,
body {
  height: 100%;
}

body {
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  color: $dark-500;
  background-color: $white;
}

body.hidden {
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.logo {
  flex: 0 0 200px;

  @include media-1 {
    display: none;
  }
}

.menu__logo {
  flex: 0 0 200px;
  display: inline-block;
}

.logo-mobile {
  flex: 0 0 56px;
  display: none;

  @include media-1 {
    display: block;
  }

  @include media-2 {
    flex: 0 0 36px;
  }
}

.logo__img {
  width: 100%;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin: 0 auto;
  font-size: 32px;
  letter-spacing: 0.03em;
  font-family: "Ruda", sans-serif;
  font-weight: 600;
  color: $dark-900;
  text-transform: uppercase;
  text-align: center;

  @include media-3 {
    font-size: 24px;
  }
}
