$dark-800: #31352b;
$white: #fff;
$green-900: #63a60f;
$dark-500: #505050;
$red-900: #cf3e3b;
$silver-100: #f6f6f6;
$dark-900: #121212;
$green-100: #eff6e7;
$green-200: #e0edcf;
$orange-900: #ff7a00;
$red-900: #cf3e3b;
$silver-600: #c1c1c1;
$yellow-900: #ffb800;

$md1: 1200;
$md2: 992;
$md3: 768;
$md4: 576;

@mixin media-1 {
  @media (max-width: #{$md1}px) {
    @content;
  }
}

@mixin media-2 {
  @media (max-width: #{$md2}px) {
    @content;
  }
}

@mixin media-3 {
  @media (max-width: #{$md3}px) {
    @content;
  }
}

@mixin media-4 {
  @media (max-width: #{$md4}px) {
    @content;
  }
}

@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
